<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | D&D</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      Homepage for the D&D app
    </p>
  </body>
</html>