<% provide(:title, "Timeline") %>

<style media="screen" type="text/css">

code, samp, kbd {
    font-family: "Courier New", Courier, monospace, sans-serif;
    text-align: left;
    color: #555;
    }
pre code {
    line-height: 1.6em;
    font-size: 11px;
    }
pre {
    background-color: #FFF;
    padding: 0.1em 0.5em 0.3em 0.7em;
    /*border-left: 11px solid #ccc;*/
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: 93%;
    }
/* target IE7 and IE6 */
*:first-child+html pre {
    padding-bottom: 2em;
    overflow-y: hidden;
    overflow: visible;
    overflow-x: auto; 
    }
* html pre { 
    padding-bottom: 2em;
    overflow: visible;
    overflow-x: auto;
    }
</style>

<div class="container">
    <div id="sidebar">

    </div>
    <div id="content">
    	<h1>Timeline</h1>
    	<section id="Session1" class="group">
    		<h2>Session 1</h2>
    		
    		<div class="center"><img alt="ISS Shannon" src="/assets/ISS_Shannon.jpg" width="800"</div>
		    <ul>
            <br>
		      <li>
		      Päev 1 - Õhulaev IFS Alianora on teel Lerwickust Stantonisse, Varinia pealinna. Ületanud äsja Kladeni mäestiku, tekib õhulaeval tulekahju. Vahetult enne alla maaga kokkupõrget, lasevad Alfin Mingle, Patrick Sinclair ja vend William end köitega laevast rippu, et mitte rusude alla jääda. Kukkumisest toibununa nägid nad enda ümber musta riietatud mehi, kes ellujäänuid mõõkadega läbi torkasid. Suudeti esimene salk ründajaid tappa ja põgeneti lähedalasuva metsa poole. </li>

		      <li>Metsas kohtuti jahimees Solomoniga, kes, Seberi preestri palvel, neile öömaja pakkus. Jõuti Solomoni puumajakesse, kus pesti, räägiti ja puskarit joodi.  Põhilise joomise tegi loomulikult peremees ise. Öösel ärgati selle peale, et pudel põlevat vedelikku tabas maja seina ja ammunooled lendasid akendest sisse. Ka nendest ründajatest saadi jagu. Viimane põgenes kelguga mäest alla. Ellujääjad võtsid Solomoni kiiktooli, mahutasid end kuidagi selle peale kolmekesti ära ja panid mööda mäge mehele järgi. All leiti kelk ja paar jalajälgi, mis viisid metsa. Tund aega jälitamist ja jõuti puu najal hinge tõmbava meheni, keda siis viisakalt küsitleti. Tegemist oli Billyga Holdeni linnast. Rääkis White Fangist ja ta organitsioonist. Nähes, et teda ellu ei taheta jätta, palus ta enda piinajatel viia emale vanadekodusse tema elu säästud, mis on ühes Holdeni linnas asuvas korteris. Info olemas, tapeti Billy Eldritch blastiga näkku ja mindi majja tagasi. </li>


		      
		    </ul>
  		</section>
  		<section id="Session1" class="group">
    		<h2>Session 1</h2>
    		
    		<div class="center"><img alt="ISS Shannon" src="/assets/ISS_Shannon.jpg" width="800"</div>
		    <ul>
            <br>
		    

		      <li>Day 2 - Tehti Solomoni juures mõningad parandustööd ja mindi tagasi õnnetuspaika Patrickule pärandatud relvi otsima. Rusude vahel luusis kari hunte, kes Patricku peaaegu maha murdsid. Loomad tapeti, võeti teadvuse kaotanud sõber kaenlasse ja tehtilõke. Laevahuku ümbrus kammiti läbi ning leiti neli relvakappi. Ehitati kelk ja veeti kraam Solomoni juurde, kus need lahti lahti kangutati. Patrick sai tagasi oma rapiiri ja püstoli. </li>

		    


		      
		    </ul>
  		</section>
        
    </div>
</div>

<p>
	<!--Text goes here-->
	
</p>