<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "D&D", 'root_path', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Factions",   'factions_path' %></li>
        <li><%= link_to "Timeline",   'timeline_path' %></li>

      </ul>
    </nav>
  </div>
</header>